/* || reset */
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* || custom variables */

:root {
    --ff-primary: "Lato", sans-serif;
    --ff-display: 'Changa One', cursive;

    --lh-body-mobile-large: 1.5rem;
    --lh-body: 1.25rem;
    
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extrabold: 900;

    --fs--body-small: 0.8rem;

    --clr-dark: #202026;
    --clr-dark-alpha: #202026ea;
    --clr-accent: #F2F2F2;
    --clr-brand: rgb(130, 204, 238);
    --clr-hover: rgb(28, 167, 232);

    --pad-body-mobile: 1rem;
    --pad-body-tablet: 2rem;

}

/* mobile */

body {
    padding: var(--pad-body-mobile);
    font-family: var(--ff-primary);
    background-color: var(--clr-dark);
    color: var(--clr-brand);
    display: grid; /* may not need this */
    gap: 1rem;
}

/* MAKE NAVIGATION STICK TO TOP */
header {
    position: sticky;
    top: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: var(--clr-dark);
    padding: 1rem 0;
    /* width: calc(100vw - (var(--pad-body-mobile)*2)); */
}

#logo {
    height: 3rem;
    fill: var(--clr-brand);
}

#logo:focus {
    /* border: 1px solid red; */
    fill: red;
    outline: none;
}

.nav-bar > a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.page-title {
    color: var(--clr-brand);
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    display: none;
}

img {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

#hamburger {
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.75rem;
    height: 0.2rem;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--clr-brand);
    border-radius: 100px;
}

.nav-link {
    text-decoration: none;
    color: var(--clr-accent);
     /* make target touch point larger */
     display: inline-block;
     position: relative;
     z-index: 1;
     padding: 0.5rem 1rem;
     margin: -0.5rem -1rem;
}

.nav-menu {
    position: fixed;
    right: -100%;
    padding: 2rem 1rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--clr-dark-alpha);
    width: 100%;
    text-align: right;
    transition: 0.3s;
    /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5); */
}

.bar:focus{
    background-color: red;
}

.nav-menu.active {
    right: 0;
}
/* hamburger animation */
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

footer p {
    /* background-color: var(--clr-dark); */
    /* padding: 1rem 0 1rem; */
    font-size: 0.75rem;
}

/* || main section */
main {
    display: grid;
    gap: 3rem;
    /* margin-top: 1.5rem; */
}

.hero-subhead, h2{
    color: var(--clr-accent);
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: 0.05rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
}

.hero-title {
    font-size: clamp(1.75rem, 7vw, 4rem);
    font-family: var(--ff-display);
    margin-bottom: 0.5rem;
}

.hero-intro {
    line-height:var(--lh-body-mobile-large);
    width: 80%;
    font-size: 1.125rem;
}

.portfolio-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

p {
    line-height: var(--lh-body);
}

.filter-categories{
    display: flex;
    gap: 0.75rem;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: var(--fs--body-small);
}

.filter-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}


/* NEW FILTER BELOW */

    input[type="radio"]{
        display: none;
    }

    .filter-item  {
        text-decoration: none;
        color: var(--clr-brand);
        border: 1px solid var(--clr-brand);
        padding: 0.5rem 1rem;
        border-radius: 10rem;
        font-size: var(--fs--body-small);
    }

    .view-all label {
        color: var(--clr-brand);
        text-decoration: none;
        text-transform: uppercase;
    }

    .view-all-highlight {
        color: var(--clr-accent);
        text-decoration: none;
        font-weight: var(--fw-bold);
        border-bottom: 1px solid var(--clr-accent);
        padding-bottom: 0.5rem;
    }

    .label-highlight {
        background-color: var(--clr-accent);
        border: 1px solid var(--clr-accent);
        color: var(--clr-dark);
    }


    input[type="radio"][id="design"]:checked ~ .front-end {
        display: none;
    }

    input[type="radio"][id="front-end"]:checked ~ .design {
        display: none;
    }


/* NEW FILTER ABOVE */





/* || portfolio section */

.portfolio-items{
    display: grid;
    gap: 1rem;
}

footer {
    font-size: var(--fs--body-small);
    text-align: center;
}



/* || Tablet 768px */
@media only screen and (min-width: 48rem) {

    body{
        padding: 2rem;
    }

    .wrapper{
        max-width: 64rem;
        margin: 0 auto;
    }
    
    .hamburger {
        display: none;
    }

    .nav-bar {
        margin-bottom: 1rem;
        background-color: var(--clr-dark);
        /* add padding to top (match body padding) so content doesn't show when scroll */
        padding: 1rem 0 0;
        /* offset padding to the body x 2 */
        /* width: calc(100vw - (var(--pad-body-tablet)*2));  */
        /* align with body padding */
        left: 2rem;
    }

    .nav-bar > a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--clr-brand);
    }

    .page-title {
        color: var(--clr-brand);
        text-decoration: none;
        font-size: 1.125rem;
        font-weight: var(--fw-bold);
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        display: block;
    }

    .nav-menu {
        position: static;
        flex-direction:row;
        width: fit-content;
        gap: 4rem;
    }

    .nav-link {
        color: var(--clr-brand);
        font-size: 0.85rem;
        /* make target touch point larger */
        display: inline-block;
        position: relative;
        z-index: 1;
        padding: 2rem 0rem;
        margin: -2rem -1rem;
    }

    .nav-link-active {
        color: var(--clr-accent);
    }

    .hero-section {
        padding: 2rem 0;
    }

    h2 {
        font-size: 1rem;
    }

    .hero-subhead {
        font-size: clamp(1rem, 2vw, 1.5rem);
    }

    .hero-intro {
        line-height: 1.25em;
        /* width: 60vw; */
        font-size: clamp(1.25rem, 2vw, 1.55rem);
    }

    .hero-title {
        font-size: clamp(3rem, 7vw, 5rem);
    }

    h2 {
        font-size: 1.5rem;
    }

    .portfolio-title + p {
        gap: 2rem;
        width: 60vw;
    }

    .filter-section > p, #view-all {
        font-size: 1.125rem;
    }

    .filter-section {
        gap: 1.5rem
    }

    
    .filter-categories {
        /* gap: 1.25rem; */
    }

    .filter-item {
        font-size: 1.125rem;
    }

    .portfolio-items {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        background-color: var(--clr-dark);
        padding: 2rem 0 0 0rem;
        font-size: 0.75rem;
         /* makes nav stick to the bottom, width based on the body padding */
         /* position: fixed;
         bottom: 0rem;
         width: calc(100vw - (var(--pad-body-tablet)*2)); */
    }

}




/* === DESKTOP (1440px) === */
@media (min-width: 90em) {

    .wrapper{
        max-width: 74rem;
        margin: 0 auto;
    }

    .nav-menu {
        gap: 5rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .portfolio-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .portfolio-title + p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        width: 60%;
    }

}





/* h2 {
    font-family: var(--ff-display);
    color: var(--clr-accent);
} */



/* tablet
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
} */